version: "3"
services:
  app:
    container_name: docker-node-mongo
    restart: always
    build: .
    ports:
      - "3000"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"
  nginx-conf:
    build: ./nginx
    container_name: nginx-conf
    restart: unless-stopped
    ports:
      - 80:80
    links:
      - app
